<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pregnancy weeks</title>
    <link rel="stylesheet" href="/weekDisplay.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container" >
    
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
      .path-0{
        animation:pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-0{
        0%{
          d: path("M 0,700 L 0,356 C 35.296503462294254,396.56220979771297 70.59300692458851,437.1244195954259 109,414 C 147.4069930754115,390.8755804045741 188.9244757639402,304.06453141600934 221,245 C 253.0755242360598,185.93546858399063 275.70909001965083,154.61745474053674 312,160 C 348.29090998034917,165.38254525946326 398.2391641574566,207.46564962184365 442,191 C 485.7608358425434,174.53435037815635 523.3342533505228,99.51994677208867 561,57 C 598.6657466494772,14.48005322791132 636.4238224404523,4.454563289801605 675,-23 C 713.5761775595477,-50.454563289801605 752.9704568876675,-95.33819993129511 787,-100 C 821.0295431123325,-104.66180006870489 849.6943500088777,-69.10176356462122 879,-104 C 908.3056499911223,-138.89823643537878 938.2521430768219,-244.2547458102199 976,-282 C 1013.7478569231781,-319.7452541897801 1059.297077683835,-289.8792531944991 1096,-312 C 1132.702922316165,-334.1207468055009 1160.5595461878381,-408.22824141178376 1204,-443 C 1247.4404538121619,-477.77175858821624 1306.4647375648128,-473.20778115836595 1347,-493 C 1387.5352624351872,-512.792218841634 1409.5815035529108,-556.9406339547526 1422,-582 C 1434.4184964470892,-607.0593660452474 1437.2092482235446,-613.0296830226237 1440,-619 L 1440,700 L 0,700 Z");
        }
        25%{
          d: path("M 0,700 L 0,356 C 40.1281492420044,376.84620758967174 80.2562984840088,397.6924151793434 120,384 C 159.7437015159912,370.3075848206566 199.1029553059692,322.0765468722981 233,275 C 266.8970446940308,227.92345312770192 295.33188029211436,182.00139733146415 333,164 C 370.66811970788564,145.99860266853585 417.5695235255732,155.91786380184533 452,139 C 486.4304764744268,122.08213619815466 508.3900256055931,78.32714746115454 550,28 C 591.6099743944069,-22.327147461154542 652.8703740520541,-79.2264536464635 685,-83 C 717.1296259479459,-86.7735463535365 720.1284781861903,-37.42133287530058 755,-35 C 789.8715218138097,-32.57866712469942 856.6157132031847,-77.08821485233418 896,-137 C 935.3842867968153,-196.91178514766582 947.4086690010711,-272.2258077153627 978,-303 C 1008.5913309989289,-333.7741922846373 1057.7496107925308,-320.008554286215 1096,-319 C 1134.2503892074692,-317.991445713785 1161.5928878288062,-329.7399751397774 1204,-351 C 1246.4071121711938,-372.2600248602226 1303.8788378922445,-403.0315451546753 1344,-445 C 1384.1211621077555,-486.9684548453247 1406.891760602216,-540.1338442415214 1420,-571 C 1433.108239397784,-601.8661557584786 1436.554119698892,-610.4330778792394 1440,-619 L 1440,700 L 0,700 Z");
        }
        50%{
          d: path("M 0,700 L 0,356 C 29.030875922225817,370.39941526559926 58.061751844451635,384.7988305311986 95,358 C 131.93824815554837,331.2011694688014 176.78386854441925,263.2040931408052 220,241 C 263.21613145558075,218.79590685919484 304.8027739778713,242.3847969055809 344,237 C 383.1972260221287,231.6152030944191 420.0050355440954,197.2567192368713 453,172 C 485.9949644559046,146.7432807631287 515.1770838457472,130.58832614693395 549,106 C 582.8229161542528,81.41167385306605 621.2866290729156,48.38997617539294 657,8 C 692.7133709270844,-32.38997617539294 725.6763998625902,-80.14823084850569 767,-93 C 808.3236001374098,-105.85176915149431 858.0077714767235,-83.79705278137024 898,-124 C 937.9922285232765,-164.20294721862976 968.2925142305153,-266.66355802601333 1002,-305 C 1035.7074857694847,-343.33644197398667 1072.8221716012154,-317.5487151145765 1105,-314 C 1137.1778283987846,-310.4512848854235 1164.4187993646228,-329.14158151568057 1206,-376 C 1247.5812006353772,-422.85841848431943 1303.502630940294,-497.8849588227014 1348,-525 C 1392.497369059706,-552.1150411772986 1425.5706768742018,-531.3185831935139 1439,-539 C 1452.4293231257982,-546.6814168064861 1446.214661562899,-582.8407084032431 1440,-619 L 1440,700 L 0,700 Z");
        }
        75%{
          d: path("M 0,700 L 0,356 C 29.61802412466303,325.6441189439829 59.23604824932606,295.28823788796575 93,306 C 126.76395175067394,316.71176211203425 164.67383112735877,368.49116739211985 205,344 C 245.32616887264123,319.50883260788015 288.0686272412389,218.74709254355477 326,161 C 363.9313727587611,103.25290745644523 397.05165990768575,88.520462433661 432,80 C 466.94834009231425,71.479537566339 503.7247331280181,69.17105772180125 544,40 C 584.2752668719819,10.828942278198753 628.0494075802422,-45.204693320865985 663,-81 C 697.9505924197578,-116.79530667913401 724.0776365510134,-132.35228443833734 761,-128 C 797.9223634489866,-123.64771556166265 845.6400462157043,-99.38616892578466 884,-114 C 922.3599537842957,-128.61383107421534 951.3621785861694,-182.10303985852403 992,-233 C 1032.6378214138306,-283.896960141476 1084.9112394396177,-332.20167164011923 1119,-370 C 1153.0887605603823,-407.79832835988077 1168.9928636553605,-435.09027358099894 1207,-451 C 1245.0071363446395,-466.90972641900106 1305.1173059389414,-471.437234035885 1348,-473 C 1390.8826940610586,-474.562765964115 1416.5379125888737,-473.1607902754614 1429,-497 C 1441.4620874111263,-520.8392097245386 1440.731043705563,-569.9196048622694 1440,-619 L 1440,700 L 0,700 Z");
        }
        100%{
          d: path("M 0,700 L 0,356 C 35.296503462294254,396.56220979771297 70.59300692458851,437.1244195954259 109,414 C 147.4069930754115,390.8755804045741 188.9244757639402,304.06453141600934 221,245 C 253.0755242360598,185.93546858399063 275.70909001965083,154.61745474053674 312,160 C 348.29090998034917,165.38254525946326 398.2391641574566,207.46564962184365 442,191 C 485.7608358425434,174.53435037815635 523.3342533505228,99.51994677208867 561,57 C 598.6657466494772,14.48005322791132 636.4238224404523,4.454563289801605 675,-23 C 713.5761775595477,-50.454563289801605 752.9704568876675,-95.33819993129511 787,-100 C 821.0295431123325,-104.66180006870489 849.6943500088777,-69.10176356462122 879,-104 C 908.3056499911223,-138.89823643537878 938.2521430768219,-244.2547458102199 976,-282 C 1013.7478569231781,-319.7452541897801 1059.297077683835,-289.8792531944991 1096,-312 C 1132.702922316165,-334.1207468055009 1160.5595461878381,-408.22824141178376 1204,-443 C 1247.4404538121619,-477.77175858821624 1306.4647375648128,-473.20778115836595 1347,-493 C 1387.5352624351872,-512.792218841634 1409.5815035529108,-556.9406339547526 1422,-582 C 1434.4184964470892,-607.0593660452474 1437.2092482235446,-613.0296830226237 1440,-619 L 1440,700 L 0,700 Z");
        }
      }</style>
      <defs>
        <linearGradient id="gradient" x1="95%" y1="29%" x2="5%" y2="71%">
          <stop offset="5%" stop-color="<%= week.week_color %>"></stop>
          <stop offset="95%" stop-color="#fff9b0"></stop>
        </linearGradient>
      </defs>
      <path d="M 0,700 L 0,356 C 35.296503462294254,396.56220979771297 70.59300692458851,437.1244195954259 109,414 C 147.4069930754115,390.8755804045741 188.9244757639402,304.06453141600934 221,245 C 253.0755242360598,185.93546858399063 275.70909001965083,154.61745474053674 312,160 C 348.29090998034917,165.38254525946326 398.2391641574566,207.46564962184365 442,191 C 485.7608358425434,174.53435037815635 523.3342533505228,99.51994677208867 561,57 C 598.6657466494772,14.48005322791132 636.4238224404523,4.454563289801605 675,-23 C 713.5761775595477,-50.454563289801605 752.9704568876675,-95.33819993129511 787,-100 C 821.0295431123325,-104.66180006870489 849.6943500088777,-69.10176356462122 879,-104 C 908.3056499911223,-138.89823643537878 938.2521430768219,-244.2547458102199 976,-282 C 1013.7478569231781,-319.7452541897801 1059.297077683835,-289.8792531944991 1096,-312 C 1132.702922316165,-334.1207468055009 1160.5595461878381,-408.22824141178376 1204,-443 C 1247.4404538121619,-477.77175858821624 1306.4647375648128,-473.20778115836595 1347,-493 C 1387.5352624351872,-512.792218841634 1409.5815035529108,-556.9406339547526 1422,-582 C 1434.4184964470892,-607.0593660452474 1437.2092482235446,-613.0296830226237 1440,-619 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 350)"></path><style>
      .path-1{
        animation:pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-1{
        0%{
          d: path("M 0,700 L 0,531 C 39.0257441067687,549.9016433378379 78.0514882135374,568.8032866756756 118,554 C 157.9485117864626,539.1967133243244 198.81979125261915,490.6884966351354 240,462 C 281.18020874738085,433.3115033648646 322.6693467759859,424.44272678378303 351,388 C 379.3306532240141,351.55727321621697 394.5028216434373,287.5405962297328 425,282 C 455.4971783565627,276.4594037702672 501.3193666502649,329.39488829728595 544,295 C 586.6806333497351,260.60511170271405 626.2197117555032,138.87985058112338 670,101 C 713.7802882444968,63.120149418876615 761.8017863277224,109.08570937822054 791,108 C 820.1982136722776,106.91429062177946 830.573142933607,58.777311905994466 868,18 C 905.426857066393,-22.777311905994463 969.9056419378492,-56.19495700219838 1010,-93 C 1050.0943580621508,-129.80504299780162 1065.8042893149964,-169.997483897201 1101,-197 C 1136.1957106850036,-224.002516102799 1190.877200802166,-237.81510740899768 1235,-243 C 1279.122799197834,-248.18489259100232 1312.68690747634,-244.74208646680836 1347,-261 C 1381.31309252366,-277.25791353319164 1416.3751692924743,-313.21654672376906 1432,-347 C 1447.6248307075257,-380.78345327623094 1443.8124153537628,-412.3917266381155 1440,-444 L 1440,700 L 0,700 Z");
        }
        25%{
          d: path("M 0,700 L 0,531 C 38.083853514368,543.3197880844534 76.167707028736,555.6395761689067 113,554 C 149.832292971264,552.3604238310933 185.41302539942393,536.7614834088265 223,516 C 260.58697460057607,495.2385165911735 300.18019137356816,469.3144901957872 333,419 C 365.81980862643184,368.6855098042128 391.86620910630336,293.98055580802463 429,248 C 466.13379089369664,202.01944419197534 514.3549722012185,184.76328657211405 553,185 C 591.6450277987815,185.23671342788595 620.7139020888228,202.9662979035191 658,199 C 695.2860979111772,195.0337020964809 740.7894194434901,169.3715218138097 776,115 C 811.2105805565099,60.62847818619032 836.1284201372164,-22.452385158757806 872,-50 C 907.8715798627836,-77.5476148412422 954.6969000076444,-49.56198117877844 996,-72 C 1037.3030999923556,-94.43801882122156 1073.0839798322056,-167.2996901261284 1109,-191 C 1144.9160201677944,-214.7003098738716 1180.9671806635324,-189.23925831670786 1215,-196 C 1249.0328193364676,-202.76074168329214 1281.0472975136643,-241.74327660704023 1326,-291 C 1370.9527024863357,-340.25672339295977 1428.8436292818103,-399.78763525513136 1450,-427 C 1471.1563707181897,-454.21236474486864 1455.5781853590947,-449.1061823724343 1440,-444 L 1440,700 L 0,700 Z");
        }
        50%{
          d: path("M 0,700 L 0,531 C 32.46871582724353,541.3719713867613 64.93743165448706,551.7439427735227 100,554 C 135.06256834551294,556.2560572264773 172.71898920929533,550.3962002926704 209,510 C 245.28101079070467,469.6037997073296 280.18661150833174,394.6712560557957 321,363 C 361.81338849166826,331.3287439442043 408.5345647573778,342.9187754841468 449,322 C 489.4654352426222,301.0812245158532 523.6751294621572,247.65364200761695 560,214 C 596.3248705378428,180.34635799238305 634.7649173939934,166.46665648538533 664,155 C 693.2350826060066,143.53334351461467 713.2652009618688,134.47973205084165 755,121 C 796.7347990381312,107.52026794915835 860.1742787585315,89.61441531124811 905,68 C 949.8257212414685,46.38558468875189 976.0376840040055,21.062606704165958 1005,-26 C 1033.9623159959945,-73.06260670416596 1065.6749852254459,-141.86484212791188 1101,-163 C 1136.3250147745541,-184.13515787208812 1175.2623750942105,-157.60323819251846 1208,-166 C 1240.7376249057895,-174.39676180748154 1267.2755143977126,-217.72220510201424 1314,-250 C 1360.7244856022874,-282.27779489798576 1427.6355673149394,-303.5079413994245 1452,-334 C 1476.3644326850606,-364.4920586005755 1458.1822163425304,-404.2460293002878 1440,-444 L 1440,700 L 0,700 Z");
        }
        75%{
          d: path("M 0,700 L 0,531 C 31.788477510314934,519.3871209425845 63.57695502062987,507.7742418851691 98,513 C 132.42304497937013,518.2257581148309 169.48065742779545,540.2901534019084 205,513 C 240.51934257220455,485.70984659809164 274.5004152681883,409.06514450719754 313,355 C 351.4995847318117,300.93485549280246 394.51768149945127,269.44926856930124 432,249 C 469.48231850054873,228.55073143069873 501.4288587340063,219.1377812155973 539,213 C 576.5711412659937,206.8622187844027 619.7668835645231,203.99960656830956 662,164 C 704.2331164354769,124.00039343169045 745.5036070079011,46.86379251116454 776,26 C 806.4963929920989,5.136207488835459 826.2186884038725,40.545223387032266 868,36 C 909.7813115961275,31.45477661296773 973.6216393766085,-13.044686059293625 1016,-49 C 1058.3783606233915,-84.95531394070638 1079.2947540896932,-112.36647914985778 1114,-155 C 1148.7052459103068,-197.63352085014222 1197.1993442646183,-255.48939734127526 1238,-279 C 1278.8006557353817,-302.51060265872474 1311.9078688518337,-291.6759314850413 1349,-317 C 1386.0921311481663,-342.3240685149587 1427.1691803280478,-403.80687671855964 1443,-431 C 1458.8308196719522,-458.19312328144036 1449.415409835976,-451.0965616407202 1440,-444 L 1440,700 L 0,700 Z");
        }
        100%{
          d: path("M 0,700 L 0,531 C 39.0257441067687,549.9016433378379 78.0514882135374,568.8032866756756 118,554 C 157.9485117864626,539.1967133243244 198.81979125261915,490.6884966351354 240,462 C 281.18020874738085,433.3115033648646 322.6693467759859,424.44272678378303 351,388 C 379.3306532240141,351.55727321621697 394.5028216434373,287.5405962297328 425,282 C 455.4971783565627,276.4594037702672 501.3193666502649,329.39488829728595 544,295 C 586.6806333497351,260.60511170271405 626.2197117555032,138.87985058112338 670,101 C 713.7802882444968,63.120149418876615 761.8017863277224,109.08570937822054 791,108 C 820.1982136722776,106.91429062177946 830.573142933607,58.777311905994466 868,18 C 905.426857066393,-22.777311905994463 969.9056419378492,-56.19495700219838 1010,-93 C 1050.0943580621508,-129.80504299780162 1065.8042893149964,-169.997483897201 1101,-197 C 1136.1957106850036,-224.002516102799 1190.877200802166,-237.81510740899768 1235,-243 C 1279.122799197834,-248.18489259100232 1312.68690747634,-244.74208646680836 1347,-261 C 1381.31309252366,-277.25791353319164 1416.3751692924743,-313.21654672376906 1432,-347 C 1447.6248307075257,-380.78345327623094 1443.8124153537628,-412.3917266381155 1440,-444 L 1440,700 L 0,700 Z");
        }
      }</style>
      <defs>
        <linearGradient id="gradient" x1="95%" y1="29%" x2="5%" y2="71%">
          <stop offset="5%" 
                stop-color="<%= week.week_color && /^#[0-9A-Fa-f]{6}$/.test(week.week_color) ? week.week_color : '#17a27b' %>">
          </stop>
          <stop offset="95%" stop-color="#fff9b0"></stop>
        </linearGradient>
      </defs>
        <path d="M 0,700 L 0,531 C 39.0257441067687,549.9016433378379 78.0514882135374,568.8032866756756 118,554 C 157.9485117864626,539.1967133243244 198.81979125261915,490.6884966351354 240,462 C 281.18020874738085,433.3115033648646 322.6693467759859,424.44272678378303 351,388 C 379.3306532240141,351.55727321621697 394.5028216434373,287.5405962297328 425,282 C 455.4971783565627,276.4594037702672 501.3193666502649,329.39488829728595 544,295 C 586.6806333497351,260.60511170271405 626.2197117555032,138.87985058112338 670,101 C 713.7802882444968,63.120149418876615 761.8017863277224,109.08570937822054 791,108 C 820.1982136722776,106.91429062177946 830.573142933607,58.777311905994466 868,18 C 905.426857066393,-22.777311905994463 969.9056419378492,-56.19495700219838 1010,-93 C 1050.0943580621508,-129.80504299780162 1065.8042893149964,-169.997483897201 1101,-197 C 1136.1957106850036,-224.002516102799 1190.877200802166,-237.81510740899768 1235,-243 C 1279.122799197834,-248.18489259100232 1312.68690747634,-244.74208646680836 1347,-261 C 1381.31309252366,-277.25791353319164 1416.3751692924743,-313.21654672376906 1432,-347 C 1447.6248307075257,-380.78345327623094 1443.8124153537628,-412.3917266381155 1440,-444 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 350)"></path><style>
      .path-2{
        animation:pathAnim-2 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-2{
        0%{
          d: path("M 0,700 L 0,706 C 29.337845641782515,730.4672343860865 58.67569128356503,754.934468772173 92,747 C 125.32430871643497,739.065531227827 162.63508050752242,698.7293592973949 202,658 C 241.36491949247758,617.2706407026051 282.78398668634526,576.1480940382477 322,548 C 361.21601331365474,519.8519059617523 398.2289727470968,504.67826454961425 437,478 C 475.7710272529032,451.32173545038575 516.3001223252675,413.1388477632954 558,383 C 599.6998776747325,352.8611522367046 642.5705379518333,330.7663443972043 676,302 C 709.4294620481667,273.2336556027957 733.4177258673996,237.79577464788733 765,225 C 796.5822741326004,212.20422535211267 835.7585585785686,222.05055701124635 875,196 C 914.2414414214314,169.94944298875365 953.5480398183258,108.00199730712718 992,75 C 1030.4519601816742,41.99800269287282 1068.0492821481282,37.94145376024492 1110,20 C 1151.9507178518718,2.0585462397550787 1198.2548315891615,-29.767812348106858 1232,-71 C 1265.7451684108385,-112.23218765189314 1286.9313914952256,-162.87020436781742 1327,-179 C 1367.0686085047744,-195.12979563218258 1426.0196024299357,-176.7513701806236 1448,-186 C 1469.9803975700643,-195.2486298193764 1454.9901987850321,-232.1243149096882 1440,-269 L 1440,700 L 0,700 Z");
        }
        25%{
          d: path("M 0,700 L 0,706 C 46.78212871038208,694.2571758615469 93.56425742076416,682.5143517230938 123,673 C 152.43574257923584,663.4856482769062 164.52509902732538,656.1997689691715 203,635 C 241.47490097267462,613.8002310308285 306.3353464699343,578.6865724002201 350,569 C 393.6646535300657,559.3134275997799 416.13351509293767,575.0539414299478 443,528 C 469.86648490706233,480.9460585700521 501.13059315831526,371.09766187998827 545,341 C 588.8694068416847,310.90233812001173 645.3441122738014,360.5554110500991 678,340 C 710.6558877261986,319.4445889499009 719.4929577464789,228.68069391961527 757,217 C 794.5070422535211,205.31930608038473 860.684056740283,272.7218132714398 904,245 C 947.315943259717,217.27818672856014 967.770815292389,94.43205299462528 1003,63 C 1038.229184707611,31.567947005374716 1088.232682090161,91.54997475005896 1122,77 C 1155.767317909839,62.450025249941035 1173.2984563469672,-26.631951994861154 1200,-64 C 1226.7015436530328,-101.36804800513885 1262.5734925219704,-87.0221667706143 1309,-86 C 1355.4265074780296,-84.9778332293857 1412.4075735651513,-97.27938092268164 1436,-130 C 1459.5924264348487,-162.72061907731836 1449.7962132174243,-215.86030953865918 1440,-269 L 1440,700 L 0,700 Z");
        }
        50%{
          d: path("M 0,700 L 0,706 C 43.134871681107825,709.7843624716926 86.26974336221565,713.5687249433852 123,711 C 159.73025663778435,708.4312750566148 190.05589823224523,699.5094626981518 220,671 C 249.94410176775477,642.4905373018482 279.50666370880344,594.3934242640079 316,563 C 352.49333629119656,531.6065757359921 395.91744693254094,516.916840245817 437,507 C 478.08255306745906,497.083159754183 516.8235485610328,491.93921475272424 550,464 C 583.1764514389672,436.06078524727576 610.7883588233282,385.3263007432858 652,354 C 693.2116411766718,322.6736992567142 748.0230161456544,310.7555822741326 793,281 C 837.9769838543456,251.2444177258674 873.119576594054,203.6513701601838 903,170 C 932.880423405946,136.3486298398162 957.4986774781291,116.6389370851321 996,114 C 1034.5013225218709,111.3610629148679 1086.8857134934294,125.7928814992878 1120,83 C 1153.1142865065706,40.2071185007122 1166.958468548153,-59.81046308228332 1204,-108 C 1241.041531451847,-156.18953691771668 1301.2804123139588,-152.55102917015446 1349,-164 C 1396.7195876860412,-175.44897082984554 1431.9198821960117,-201.98542023709874 1445,-222 C 1458.0801178039883,-242.01457976290126 1449.0400589019941,-255.50728988145062 1440,-269 L 1440,700 L 0,700 Z");
        }
        75%{
          d: path("M 0,700 L 0,706 C 35.10888849705074,732.0891326665695 70.21777699410148,758.178265333139 107,729 C 143.78222300589852,699.821734666861 182.2377805206448,615.3760713340132 217,587 C 251.7622194793552,558.6239286659868 282.83110092331935,586.3174493308085 324,594 C 365.16889907668065,601.6825506691915 416.4378157860779,589.3541313427531 454,533 C 491.5621842139221,476.6458686572468 515.4176359323693,376.26602529817893 547,352 C 578.5823640676307,327.73397470182107 617.8916404844447,379.5817674645312 656,388 C 694.1083595155553,396.4182325354688 731.0158021298521,361.4069048436963 774,317 C 816.9841978701479,272.5930951563037 866.0451509961465,218.79061316068353 898,174 C 929.9548490038535,129.20938683931647 944.8035938855625,93.43064251356962 978,68 C 1011.1964061144375,42.56935748643038 1062.7404734616034,27.48681678503798 1110,8 C 1157.2595265383966,-11.48681678503798 1200.2345122680238,-35.37790965372153 1236,-70 C 1271.7654877319762,-104.62209034627847 1300.3214774663015,-149.97517817015188 1334,-167 C 1367.6785225336985,-184.02482182984812 1406.4795778667708,-172.7213776656709 1425,-185 C 1443.5204221332292,-197.2786223343291 1441.7602110666146,-233.13931116716455 1440,-269 L 1440,700 L 0,700 Z");
        }
        100%{
          d: path("M 0,700 L 0,706 C 29.337845641782515,730.4672343860865 58.67569128356503,754.934468772173 92,747 C 125.32430871643497,739.065531227827 162.63508050752242,698.7293592973949 202,658 C 241.36491949247758,617.2706407026051 282.78398668634526,576.1480940382477 322,548 C 361.21601331365474,519.8519059617523 398.2289727470968,504.67826454961425 437,478 C 475.7710272529032,451.32173545038575 516.3001223252675,413.1388477632954 558,383 C 599.6998776747325,352.8611522367046 642.5705379518333,330.7663443972043 676,302 C 709.4294620481667,273.2336556027957 733.4177258673996,237.79577464788733 765,225 C 796.5822741326004,212.20422535211267 835.7585585785686,222.05055701124635 875,196 C 914.2414414214314,169.94944298875365 953.5480398183258,108.00199730712718 992,75 C 1030.4519601816742,41.99800269287282 1068.0492821481282,37.94145376024492 1110,20 C 1151.9507178518718,2.0585462397550787 1198.2548315891615,-29.767812348106858 1232,-71 C 1265.7451684108385,-112.23218765189314 1286.9313914952256,-162.87020436781742 1327,-179 C 1367.0686085047744,-195.12979563218258 1426.0196024299357,-176.7513701806236 1448,-186 C 1469.9803975700643,-195.2486298193764 1454.9901987850321,-232.1243149096882 1440,-269 L 1440,700 L 0,700 Z");
        }
      }</style>
      <defs>
        <linearGradient id="gradient" x1="95%" y1="29%" x2="5%" y2="71%">
          <stop offset="5%" 
                stop-color="<%= week.week_color && /^#[0-9A-Fa-f]{6}$/.test(week.week_color) ? week.week_color : '#17a27b' %>">
          </stop>
          <stop offset="95%" stop-color="#fff9b0"></stop>
        </linearGradient>
      </defs>
      
      <path d="M 0,700 L 0,706 C 29.337845641782515,730.4672343860865 58.67569128356503,754.934468772173 92,747 C 125.32430871643497,739.065531227827 162.63508050752242,698.7293592973949 202,658 C 241.36491949247758,617.2706407026051 282.78398668634526,576.1480940382477 322,548 C 361.21601331365474,519.8519059617523 398.2289727470968,504.67826454961425 437,478 C 475.7710272529032,451.32173545038575 516.3001223252675,413.1388477632954 558,383 C 599.6998776747325,352.8611522367046 642.5705379518333,330.7663443972043 676,302 C 709.4294620481667,273.2336556027957 733.4177258673996,237.79577464788733 765,225 C 796.5822741326004,212.20422535211267 835.7585585785686,222.05055701124635 875,196 C 914.2414414214314,169.94944298875365 953.5480398183258,108.00199730712718 992,75 C 1030.4519601816742,41.99800269287282 1068.0492821481282,37.94145376024492 1110,20 C 1151.9507178518718,2.0585462397550787 1198.2548315891615,-29.767812348106858 1232,-71 C 1265.7451684108385,-112.23218765189314 1286.9313914952256,-162.87020436781742 1327,-179 C 1367.0686085047744,-195.12979563218258 1426.0196024299357,-176.7513701806236 1448,-186 C 1469.9803975700643,-195.2486298193764 1454.9901987850321,-232.1243149096882 1440,-269 L 1440,700 L 0,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2" transform="rotate(-180 720 350)"></path></svg>

      <h1 class="number raleway-bold"><%= week.week_number %></h1>
      <h1 class="weeks raleway-regular"> weeks pregnancy</h1>

      <img class="image" src="<%= week.week_image %>" alt="Week Image">

      <div class="arrow1">
        <a href="index week26.html"><i style="color: <%= week.week_color %>;" class="fa-solid fa-arrow-left"></i></a>
      </div>
      <div class="arrow2">
        <a href="index week28.html"><i style="color: <%= week.week_color %>;" class="fa-solid fa-arrow-right"></i></a>
      </div>
  </div>

  <div class="container2">
    <div class="articles">
      <h2 style="color: <%= week.week_color %>;" class="raleway-semibold"><%= week.title1 %></h2>
      <!-- عرض الصورة التي تم تخزينها في قاعدة البيانات -->
      <img class="imagee" src="<%= week.week_image %>" alt="Week Image">
      <p class="raleway-regular">
        <%= week.essay1 %>
      </p>
      <h2 style="color: <%= week.week_color %>;" class="raleway-semibold"><%= week.title2 %></h2>
      <p class="raleway-regular"><%= week.essay2 %></p>
    </div>
    

    <div class="youtube">
      <h2 style="color: #17A27B;" class="video-title raleway-semibold">
          Inside pregnancy: <%= week.week_number %> weeks
      </h2>
      <iframe src="<%= week.week_video_link %>" 
              title="YouTube video player" frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
      </iframe>
  </div>
  
  
  <div class="footer">
    <img src="/imagess/svg (25).png" >
  </div>
</body>
</html>
